@(message: String, socketURL: String, user: User)

@main(message, user) {
    <div id="socket" class="panel" data-ws-url="@{socketURL}">
        <div class="panel-heading">
            <h4>List of clusters</h4>
            <hr/>
        </div>
        <div class="panel-body scroll">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <th>Provider</th>
                    <th>Name</th>
                    <th>Instances</th>
                    <th>Actions</th>
                </thead>
                <tbody id="clusters">
                </tbody>
            </table>
        </div>
    </div>

    <script src="@routes.Assets.at("javascripts/resources/clusters.js")" type="text/javascript"></script>
}